.form {
  max-width: 1000px;
  margin: auto;
}

.form-inputs {
  display: flex;
  justify-content: center;
}

.form-buttons {
  display: flex;
  width: 250px;
  margin: auto;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .form-inputs {
    flex-direction: column;
  }
}
