.input-group {
  position: relative;
  margin: 0 1%;
}

.form-input {
  background: none;
  background-color: #fff;
  color: #777;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  /* display: block; */
  width: 100%;
  border: 1px solid #808080;
  margin: 25px auto;
  max-width: 500px;
}

.form-input:focus {
  outline: none;
}

.form-input:focus + label {
  top: -1px;
  font-size: 12px;
  color: #488eff;
  font-weight: 900;
}

.value {
  top: -1px;
  font-size: 12px;
  color: #488eff;
  font-weight: 900;
}

label {
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 35px;
  transition: 300ms ease all;
}

@media (max-width: 800px) {
  .form-input {
    margin: 15px 0;
  }
}
