*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

p,
td,
label {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-size: 15px;
  color: #555;
}

html {
  background-color: rgba(221, 221, 221, 0.5);
  background-image: url("./assests/bg.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
