.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 5%;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.logo-div {
  width: 30%;
}

.logo {
  height: 100%;
}

.links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 500ms ease all;
}

.link {
  padding: 10px;
  cursor: pointer;
  transition: 300ms ease all;
}

.link:hover {
  color: #488eff;
  transform: scale(1.1);
}

.signin {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #488eff;
  color: #fff;
}

.signin:hover {
  background-color: #3669bb;
  opacity: 0.8;
}

.bar {
  display: none;
  z-index: 2;
  align-self: center;
  cursor: pointer;
}

.displayName {
  padding: 15px;
  color: #488eff;
}

.displayName:hover {
  color: #3669bb;
}

.none {
  display: flex;
}

@media (max-width: 800px) {
  .header {
    justify-content: space-between;
  }

  .none {
    display: none;
  }

  .bar {
    display: block;
  }

  .links {
    position: absolute;
    right: 5px;
    top: 70px;
    flex-direction: column;
    height: 180px;
    width: 150px;
    padding: 20px 5px;
    background-color: #fff;
    border: 2px solid #488eff;
  }
}
